.Cursor_bottom__c2BLw,
.Cursor_left__ANX75 {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 12px;
    color: #b4aea7;
    mix-blend-mode: difference;
    z-index: 200;
    pointer-events: none
}

@media(max-width:480px) {
    .Cursor_bottom__c2BLw,
    .Cursor_left__ANX75 {
        font-size: 12px
    }
}

.Cursor_cursorRightPosition__cdLMX,
.Cursor_cursorTopPosition__pDpai {
    position: fixed;
    font-size: 12px;
    color: #b4aea7;
    mix-blend-mode: difference;
    transform-origin: center center;
    z-index: 200
}

@media(max-width:1054px) {
    .Cursor_cursorRightPosition__cdLMX,
    .Cursor_cursorTopPosition__pDpai {
        z-index: 0
    }
}

.Cursor_halfHeightIndicator__tHzxP,
.Cursor_halfWidthIndicator__bMc9z {
    position: fixed;
    font-size: 12px;
    color: #b4aea7;
    mix-blend-mode: difference;
    z-index: 200
}

@media(max-width:480px) {
    .Cursor_halfHeightIndicator__tHzxP,
    .Cursor_halfWidthIndicator__bMc9z {
        font-size: 12px
    }
}

.Cursor_root__8dOhD {
    color: #b4aea7
}

.Cursor_left__ANX75 {
    top: 27px;
    left: 0;
    width: 26px;
    writing-mode: vertical-rl;
    -webkit-text-orientation: mixed;
    text-orientation: mixed
}

.Cursor_left__ANX75 div {
    position: relative;
    left: 1px;
    transform: rotate(180deg)
}

@media(max-width:1054px) {
    .Cursor_left__ANX75 {
        top: 23px
    }
}

@media(max-width:480px) {
    .Cursor_left__ANX75 {
        width: 15px
    }
}

.Cursor_bottom__c2BLw {
    right: 27px;
    bottom: 0;
    height: 26px
}

@media(max-width:1054px) {
    .Cursor_bottom__c2BLw {
        right: 23px
    }
}

@media(max-width:480px) {
    .Cursor_bottom__c2BLw {
        height: 16px;
        right: 15px;
        font-size: 12px;
        line-height: 16px
    }
}

.Cursor_topMark__GAxtE {
    position: fixed;
    display: inline-block;
    top: 22px;
    left: 50%;
    width: 1px;
    height: 5px;
    background-color: #b4aea7;
    mix-blend-mode: difference;
    z-index: 200
}

@media(max-width:480px) {
    .Cursor_topMark__GAxtE {
        top: 15px
    }
}

.Cursor_rightMark__19QTS {
    position: fixed;
    top: 50svh;
    right: 22px;
    display: inline-block;
    height: 1px;
    width: 5px;
    background-color: #b4aea7;
    mix-blend-mode: difference;
    z-index: 200
}

@media(max-width:480px) {
    .Cursor_rightMark__19QTS {
        right: 15px
    }
}

.Cursor_circle___OTzq {
    width: 14px;
    height: 14px
}

@media(max-width:480px) {
    .Cursor_circle___OTzq {
        width: 11px;
        height: 11px
    }
}

.Cursor_grid__URS9k {
    top: -32rem;
    left: -32rem;
    width: calc(100dvw + 32rem);
    height: calc(100dvh + 32rem);
    background-size: 32rem 32rem;
    background-image: linear-gradient(90deg, rgba(141, 208, 222, .035) 1rem, transparent 0), linear-gradient(rgba(141, 208, 222, .025) 1rem, transparent 0);
    z-index: 101
}

.Cursor_cursor__BG5YK,
.Cursor_grid__URS9k {
    position: fixed;
    mix-blend-mode: difference;
    pointer-events: none
}

.Cursor_cursor__BG5YK {
    top: 0;
    left: 0;
    z-index: 10;
    opacity: .2
}

.Cursor_cursor__BG5YK:before {
    width: 1px;
    height: 100dvh;
    transform: translate3d(calc(var(--x) * 1px + 50%), 0, 0)
}

.Cursor_cursor__BG5YK:after,
.Cursor_cursor__BG5YK:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    background: #8dd0de
}

.Cursor_cursor__BG5YK:after {
    height: 1px;
    width: 100dvw;
    transform: translate3d(0, calc(var(--y) * 1px + 50%), 0)
}

.Cursor_cross__oSoJH {
    position: fixed;
    top: .5px;
    left: -2px;
    transform: translate3d(calc(var(--x) * 1px), calc(var(--y) * 1px), 0);
    pointer-events: none;
    z-index: 250
}

@media(max-width:1054px) {
    .Cursor_cross__oSoJH {
        z-index: 1
    }
}

@media(max-width:480px) {
    .Cursor_cross__oSoJH {
        left: -1px
    }
}

.Cursor_cross__oSoJH li:first-child {
    left: -3px
}

.Cursor_cross__oSoJH li:nth-child(2) {
    left: 3px
}

.Cursor_cross__oSoJH li:nth-child(3) {
    top: 3px;
    transform: rotate(90deg)
}

.Cursor_cross__oSoJH li:nth-child(4) {
    top: -3px;
    transform: rotate(90deg)
}

@media(max-width:480px) {
    .Cursor_cross__oSoJH li:first-child {
        left: -2px
    }
    .Cursor_cross__oSoJH li:nth-child(2) {
        left: 2px
    }
    .Cursor_cross__oSoJH li:nth-child(3) {
        top: 2px;
        transform: rotate(90deg)
    }
    .Cursor_cross__oSoJH li:nth-child(4) {
        top: -2px;
        transform: rotate(90deg)
    }
}

.Cursor_cursorTopPosition__pDpai {
    top: 8px;
    left: 0;
    transform: translate3d(calc(var(--x) * 1px), 0, 0)
}

.Cursor_cursorTopPosition__pDpai div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

.Cursor_cursorRightPosition__cdLMX {
    top: 0;
    right: 8px;
    writing-mode: vertical-rl;
    transform: translate3d(0, calc(var(--y) * 1px), 0)
}

.Cursor_cursorRightPosition__cdLMX div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.Cursor_halfWidthIndicator__bMc9z {
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%)
}

@media(max-width:480px) {
    .Cursor_halfWidthIndicator__bMc9z {
        bottom: 0;
        line-height: 16px
    }
}

.Cursor_halfWidthIndicator__bMc9z:after {
    content: "";
    position: absolute;
    top: -8px;
    left: 50%;
    width: 1px;
    height: 5px;
    background: currentColor
}

.Cursor_halfHeightIndicator__tHzxP {
    left: 6px;
    top: 50svh;
    writing-mode: vertical-rl;
    transform: translateY(-50%) rotate(180deg)
}

@media(max-width:480px) {
    .Cursor_halfHeightIndicator__tHzxP {
        left: 0
    }
}

.Cursor_halfHeightIndicator__tHzxP:after {
    content: "";
    position: absolute;
    left: -8px;
    top: 50%;
    width: 5px;
    height: 1px;
    background: currentColor
}

.Cursor_crossItems__0RBQg li {
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 1px;
    background: #fff
}

@media(max-width:1054px) {
    .Cursor_crossItems__0RBQg li {
        background: #211d1d
    }
}

@media(max-width:480px) {
    .Cursor_crossItems__0RBQg li {
        width: 4px
    }
}

@media(max-width:1054px) {
    .Cursor_whiteCross__fGCyE li {
        background: #fff
    }
}

.Cursor_cursorText__FdZyy {
    position: absolute;
    top: -20px !important;
    left: 10px !important;
    width: auto !important;
    height: auto !important;
    padding: 8px 5px;
    color: #f0f0f0;
    font-size: 12px;
    background: initial !important;
    -webkit-backdrop-filter: blur(10rem);
    backdrop-filter: blur(10rem);
    font-family: Courier, sans-serif;
    font-weight: 400;
    font-size: max(12px, 12rem);
    line-height: 150%;
    letter-spacing: -.05em;
    line-height: 0;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    opacity: 1;
    z-index: 10;
    transition: opacity .3s .3s
}

.Cursor_hideText__cgtpl {
    opacity: 0;
    transition: none
}

.Cursor_notFoundPage__G4VqY {
    color: #cb4f53
}

.Cursor_bottom__c2BLw,
.Cursor_cursorRightPosition__cdLMX,
.Cursor_cursorTopPosition__pDpai,
.Cursor_halfHeightIndicator__tHzxP,
.Cursor_halfWidthIndicator__bMc9z,
.Cursor_left__ANX75 {
    color: currentColor
}

.Picture_root__2kgzb {
    position: relative;
    display: block
}

.Picture_image__wzA8L,
.Picture_root__2kgzb {
    max-height: 100%;
    height: 100%;
    width: 100%;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.Picture_image__wzA8L {
    max-width: 100%
}

.Picture_fit-cover__x9B_8 .Picture_image__wzA8L {
    object-fit: cover
}

.Picture_fit-contain__4nued .Picture_image__wzA8L {
    object-fit: contain
}

.Preloader_root__Yqftq {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100dvh;
    background: #615d59;
    z-index: 1000
}

.Preloader_root__Yqftq div {
    opacity: 1 !important;
    transition: opacity .5s ease
}

@media(max-width:480px) {
    .Preloader_root__Yqftq img {
        width: 220px
    }
}

.Preloader_wrapper__3acWy {
    position: relative;
    width: 400px;
    height: 160px
}

@media(max-width:480px) {
    .Preloader_wrapper__3acWy {
        width: 220px;
        height: 90px
    }
}

.Preloader_logo__KZbP0 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.Preloader_logoGif__qu_wM {
    display: none;
    z-index: 2;
    opacity: 1
}

.Preloader_logoGifShow__WCtVD {
    display: block
}

.Preloader_progress__5mhwi {
    position: absolute;
    width: min(500px, 90vw);
    color: #b4aea7;
    font-family: Courier, sans-serif;
    font-weight: 400;
    font-size: max(12px, 12rem);
    line-height: 150%;
    letter-spacing: -.05em;
    z-index: 2
}

.Preloader_progress__5mhwi div {
    width: 0;
    text-align: right
}

.PageTransition_root__pwv8o {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background-color: #615d59;
    z-index: 300;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

*,
:after,
:before {
    box-sizing: inherit;
    scrollbar-width: none
}

html {
    box-sizing: border-box
}

@media (-ms-high-contrast:active),
(-ms-high-contrast:none) {
    html {
        display: flex;
        flex-direction: column
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    background-color: #fff;
    line-height: 1;
    text-rendering: optimizeLegibility;
    -webkit-text-decoration-skip: objects;
    text-decoration-skip: objects;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 1;
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

::-moz-input-placeholder {
    color: inherit;
    opacity: 1;
    -moz-transition: opacity .3s;
    transition: opacity .3s
}

::-webkit-file-upload-button {
    -webkit-appearance: none;
    font: inherit
}

::-ms-clear {
    display: none
}

.disabled,
:disabled {
    cursor: not-allowed
}

:-webkit-autofill {
    box-shadow: inset 0 0 100px #fff;
    -webkit-text-fill-color: currentColor
}

blockquote,
dd,
dl,
figure,
p {
    margin: 0
}

blockquote,
q {
    quotes: none
}

ol,
ul {
    padding: 0;
    margin: 0;
    list-style-type: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
    font-weight: inherit
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit
}

audio,
video {
    display: block;
    height: 100%
}

img {
    display: block
}

iframe,
img {
    border: none
}

code,
kbd,
pre,
samp {
    font-family: monospace;
    font-size: inherit
}

a {
    background-color: transparent
}

address {
    font-style: normal
}

abbr,
address {
    text-decoration: none
}

abbr {
    border: none
}

b,
strong {
    font-weight: 700
}

dfn {
    font-style: inherit
}

mark {
    background-color: transparent;
    color: inherit
}

small,
sub,
sup {
    font-size: inherit
}

sub,
sup {
    position: relative;
    vertical-align: baseline;
    line-height: 0
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

button,
input,
optgroup,
select,
textarea {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    font: inherit;
    color: inherit;
    letter-spacing: inherit
}

button,
input {
    overflow: visible
}

button,
select {
    text-align: left;
    text-transform: inherit
}

[type=button],
[type=reset],
[type=submit],
button {
    cursor: pointer;
    -webkit-appearance: none
}

textarea {
    resize: none;
    overflow-y: auto;
    overflow-x: hidden
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: none
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    outline: none
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    padding: 0;
    margin: 0;
    border: none
}

legend {
    display: block;
    padding: 0;
    white-space: normal
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

select::-ms-expand {
    display: none
}

:-moz-placeholder {
    color: inherit;
    opacity: 1;
    -moz-transition: opacity .3s;
    transition: opacity .3s
}

:-ms-input-placeholder {
    color: inherit;
    opacity: 1;
    -ms-transition: opacity .3s;
    transition: opacity .3s
}

:focus::-webkit-input-placeholder {
    opacity: 0
}

:focus:-moz-placeholder,
:focus::-moz-input-placeholder {
    opacity: 0
}

:focus:-ms-input-placeholder {
    opacity: 0
}

input[type=number] {
    -moz-appearance: textfield
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: currentColor
}

[hidden] {
    display: none
}

::selection {
    color: #fff;
    background-color: #004fe4
}

@font-face {
    font-family: Courier;
    src: url(/fonts/CourierPrime-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Courier;
    src: url(/fonts/CourierPrime-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Gilroy;
    src: url(/fonts/Gilroy-ExtraBold.woff2) format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: GilroyReg;
    src: url(/fonts/Gilroy-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

#__next,
body,
html {
    padding: 0;
    margin: 0;
    font-family: Courier, sans-serif;
    color: #000;
    background-color: #fff;
    touch-action: pan-y pan-x;
    -moz-osx-font-smoothing: grayscale !important;
    -webkit-font-smoothing: antialiased !important;
    overscroll-behavior: contain;
    overscroll-behavior-y: contain
}

#__next .theme-white .header,
#__next .theme-white sup,
body .theme-white .header,
body .theme-white sup,
html .theme-white .header,
html .theme-white sup {
    color: #fff
}

#__next {
    min-height: 100dvh;
    background-color: #211d1d
}

html {
    font-size: 1px
}

body {
    position: relative;
    flex: 1 1 auto
}

main {
    margin-top: 100rem
}

@media(max-width:480px) {
    main {
        margin-top: 50rem
    }
}

.invisible {
    opacity: 0;
    pointer-events: none
}

.visible {
    opacity: 1;
    pointer-events: all
}

.pin-spacer {
    pointer-events: none
}

a {
    color: inherit;
    text-decoration: none
}

* {
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none
}

* ::-webkit-scrollbar {
    display: none
}

html.lenis,
html.lenis body {
    height: auto
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain
}

.lenis.lenis-stopped {
    overflow: hidden
}

.lenis.lenis-scrolling iframe {
    pointer-events: none
}