.Socials_root__m2uN_ {
    display: flex;
    gap: 12px;
    width: 100%
}

.Footer_root__C5507 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 508rem;
    color: #f0f0f0;
    white-space: pre-wrap;
    overflow: hidden;
    opacity: 0;
    background: #211d1d;
    z-index: 102;
    flex-shrink: 0;
    text-decoration: none !important;
    font-family: Courier, sans-serif;
    font-weight: 400;
    font-size: max(12px, 16rem);
    line-height: 120%;
    letter-spacing: -.05em
}

@media(max-width:1054px) {
    .Footer_root__C5507 {
        opacity: 1 !important
    }
}

@media(max-width:480px) {
    .Footer_root__C5507 {
        font-family: Courier, sans-serif;
        font-weight: 400;
        font-size: max(12px, 14rem);
        line-height: 120%;
        letter-spacing: -.07em;
        height: 314rem
    }
}

.Footer_root404__4rTXi,
.Footer_root404__4rTXi .Footer_privacy__8VqJg {
    color: #cb4f53
}

.Footer_wrapper__QK88W {
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-gap: 0 21rem;
    padding: 0 27px;
    margin-top: 28rem;
    text-transform: uppercase
}

@media(max-width:1054px) {
    .Footer_wrapper__QK88W {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 0 12rem;
        padding: 0 25px
    }
}

@media(max-width:480px) {
    .Footer_wrapper__QK88W {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0 12rem;
        padding: 0 20px
    }
}

@media(max-width:1054px) {
    .Footer_wrapper__QK88W {
        margin-top: 27rem
    }
}

@media(max-width:480px) {
    .Footer_wrapper__QK88W {
        margin-top: 14rem;
        display: grid;
        grid-template-columns: repeat(17, 1fr);
        grid-gap: 14rem 21rem;
        padding: 0 27px;
        grid-template-rows: auto 1fr;
        padding: 0 14px !important
    }
}

@media(max-width:480px)and (max-width:1054px) {
    .Footer_wrapper__QK88W {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 14rem 12rem;
        padding: 0 25px
    }
}

@media(max-width:480px)and (max-width:480px) {
    .Footer_wrapper__QK88W {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 14rem 12rem;
        padding: 0 20px
    }
}

.Footer_menuItems__2aOpe {
    grid-column-start: 1;
    grid-column-end: 7
}

.Footer_menuItems__2aOpe ul {
    display: flex;
    gap: 35rem;
    text-align: center
}

@media(max-width:1054px) {
    .Footer_menuItems__2aOpe {
        grid-column-start: 1;
        grid-column-end: 5
    }
}

@media(max-width:480px) {
    .Footer_menuItems__2aOpe {
        display: flex;
        justify-content: space-between;
        grid-column-start: 1;
        grid-column-end: 5
    }
    .Footer_menuItems__2aOpe li:not(:first-child),
    .Footer_menuItems__2aOpe li:not(:last-child) {
        text-decoration: underline
    }
    .Footer_menuItems__2aOpe ul {
        justify-content: center;
        gap: 18rem
    }
}

.Footer_mobileSocials__emFs9 {
    position: absolute;
    left: 0;
    padding: 0 14px;
    bottom: 20px;
    width: 100dvw;
    height: 53rem;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 5
}

.Footer_text__7_DpW {
    grid-column-start: 1;
    grid-column-end: 7
}

@media(max-width:1054px) {
    .Footer_text__7_DpW {
        padding-top: 0;
        grid-column-start: 1;
        grid-column-end: 4
    }
}

@media(max-width:480px) {
    .Footer_text__7_DpW {
        grid-column-start: 1;
        grid-column-end: 5;
        margin-top: 60rem;
        font-size: 12.5px;
        line-height: 15px
    }
}

.Footer_address__gvdlH {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row: 1
}

@media(max-width:1054px) {
    .Footer_address__gvdlH {
        grid-row: initial;
        margin-top: 188rem;
        grid-column-start: 1;
        grid-column-end: 3
    }
}

@media(max-width:480px) {
    .Footer_address__gvdlH {
        margin-top: 14rem;
        grid-column-start: 1;
        grid-column-end: 3
    }
}

.Footer_contact__dT6GG {
    grid-column-start: 13;
    grid-column-end: 15;
    grid-row: 1
}

@media(max-width:1054px) {
    .Footer_contact__dT6GG {
        grid-row: initial;
        margin-top: 188rem;
        grid-column-start: 4;
        grid-column-end: none
    }
}

@media(max-width:480px) {
    .Footer_contact__dT6GG {
        margin-top: 14rem;
        text-align: right;
        grid-column-start: 3;
        grid-column-end: 5
    }
}

.Footer_copyright__IwogO {
    text-align: right;
    grid-column-start: 16;
    grid-column-end: none;
    grid-row: 1
}

@media(max-width:1054px) {
    .Footer_copyright__IwogO {
        grid-row: initial;
        grid-row-start: 1;
        grid-column-start: 5;
        grid-column-end: none
    }
}

@media(max-width:480px) {
    .Footer_copyright__IwogO {
        display: none
    }
}

.Footer_socials__XzAtZ {
    display: inline-flex;
    gap: 20rem;
    width: auto
}

.Footer_mobileCopyright__Aj_jG {
    position: absolute;
    top: 7rem;
    right: 20rem
}

.Footer_image__jR6XS {
    position: absolute;
    right: -60rem;
    top: calc(50% - 55rem);
    width: 100vw;
    height: 80dvh;
    transform: translateY(-50%);
    color: #b4aea7;
    opacity: .25;
    pointer-events: none
}

@media(max-width:1054px) {
    .Footer_image__jR6XS {
        top: auto;
        right: auto;
        left: 50%;
        bottom: calc(-50% - 180rem);
        width: 165vw;
        height: 91dvh;
        transform: translateX(-33%)
    }
}

@media(max-width:480px) {
    .Footer_image__jR6XS {
        right: auto;
        bottom: auto;
        top: calc(50% + 50rem);
        left: calc(50% - 30rem);
        width: 450vw;
        height: 100dvh;
        transform: translate(-50%, -50%)
    }
}

.Footer_privacy__8VqJg {
    position: absolute;
    left: 25rem;
    bottom: 6rem;
    color: #b4aea7;
    font-family: Courier, sans-serif;
    font-weight: 400;
    font-size: max(12px, 12rem);
    line-height: 150%;
    letter-spacing: -.05em;
    line-height: 18rem
}

@media(max-width:480px) {
    .Footer_privacy__8VqJg {
        bottom: 1rem;
        left: 9rem
    }
}

.BackgroundSquares_root__NiFkr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 6rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-content: space-between;
    justify-content: space-between;
    pointer-events: none
}

.BackgroundSquares_root__NiFkr div {
    width: 5px;
    height: 5px;
    opacity: var(--op);
    background: currentColor
}

.BackgroundSquares_root__NiFkr div:nth-child(n+4):nth-child(-n+6) {
    margin-top: 60rem
}

@media(max-width:480px) {
    .BackgroundSquares_root__NiFkr div:nth-child(n+4):nth-child(-n+6) {
        margin-top: 20rem
    }
}

.BackgroundSquares_root__NiFkr div:nth-child(n+7):nth-child(-n+9) {
    margin-top: 140rem
}

@media(max-width:480px) {
    .BackgroundSquares_root__NiFkr div:nth-child(n+7):nth-child(-n+9) {
        margin-top: 80rem
    }
}

.BackgroundSquares_root__NiFkr div:nth-child(n+10):nth-child(-n+12) {
    margin-bottom: 140rem
}

@media(max-width:480px) {
    .BackgroundSquares_root__NiFkr div:nth-child(n+10):nth-child(-n+12) {
        margin-bottom: 80rem
    }
}

.BackgroundSquares_root__NiFkr div:nth-child(n+11):nth-child(-n+14) {
    margin-bottom: 60rem
}

@media(max-width:480px) {
    .BackgroundSquares_root__NiFkr div:nth-child(n+11):nth-child(-n+14) {
        margin-bottom: 20rem
    }
}

.Button_root___vB7P {
    position: relative;
    width: 52px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

@media(max-width:480px) {
    .Button_root___vB7P {
        width: 40px
    }
}

.Button_wrapper__DMWjS {
    position: relative;
    width: 100%;
    height: 20px
}

.Button_wrapper__DMWjS div {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform-origin: center center
}

.Button_wrapper__DMWjS div:first-child {
    top: 5.5px
}

.Button_wrapper__DMWjS div:nth-child(2) {
    bottom: 5.5px
}

.Filter_filterList__tACiK {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px 30px;
    z-index: 0;
    transform: translate(-40%, -50%)
}

.Filter_open__SCHl0 {
    display: grid;
    z-index: 10
}

.Filter_filter__r_xEu {
    font-size: 12px;
    letter-spacing: -.05em;
    white-space: nowrap;
    font-weight: 400;
    color: hsla(0, 0%, 94%, .5);
    text-transform: uppercase;
    transition: color .3s ease-in-out
}

.Filter_filter__r_xEu:hover {
    color: #f0f0f0
}

.Filter_active__NJi_L {
    font-weight: 800;
    color: inherit
}

.Menu_root__MX0VT {
    position: fixed;
    bottom: 120px;
    left: calc(50% - 334.5px);
    width: 669px;
    height: 100%;
    max-height: 66px;
    color: #f0f0f0;
    background: #211d1d;
    border-radius: 5px;
    transform-origin: center center;
    font-family: Courier, sans-serif;
    font-weight: 400;
    font-size: max(12px, 16rem);
    line-height: 120%;
    letter-spacing: -.05em;
    z-index: 225;
    overflow: hidden;
    transition: all .3s ease-in-out;
    transition-property: max-height, width, left, bottom
}

@media(max-width:1054px) {
    .Menu_root__MX0VT {
        left: calc(50% - min(670rem, 90vw)/2);
        width: min(670rem, 90vw)
    }
}

@media(max-width:480px) {
    .Menu_root__MX0VT {
        bottom: 46px;
        max-height: 48px;
        left: calc(50% - min(328px, 90vw)/2);
        width: min(328px, 90vw);
        font-family: Courier, sans-serif;
        font-weight: 400;
        font-size: max(12px, 14rem);
        line-height: 120%;
        letter-spacing: -.07em
    }
}

.Menu_root__MX0VT.Menu_open__5PDsm {
    width: 100%;
    max-height: 100dvh;
    left: 0;
    bottom: 0;
    overflow: auto
}

@media(max-width:480px) {
    .Menu_wide__dbg3l .Menu_root__MX0VT.Menu_open__5PDsm {
        max-height: calc(100dvh - 78px)
    }
}

.Menu_logoWrapper__qERRo {
    top: 0;
    position: relative;
    height: 66px;
    display: flex;
    align-items: center;
    transition: transform .3s;
    transform: translateZ(0)
}

@media(max-width:480px) {
    .Menu_logoWrapper__qERRo {
        height: 48px
    }
}

.Menu_open__5PDsm .Menu_logoWrapper__qERRo {
    transform: translate3d(26rem, 30rem, 0)
}

@media(max-width:480px) {
    .Menu_open__5PDsm .Menu_logoWrapper__qERRo {
        transform: translate3d(6rem, 16rem, 0)
    }
}

.Menu_logoWrapperWide__tLuaN {
    height: 78px
}

@media(max-width:480px) {
    .Menu_logoWrapperWide__tLuaN {
        height: 48px
    }
}

.Menu_logo___tTVA {
    width: auto;
    height: 47px;
    margin: auto 0 auto 16px
}

@media(max-width:480px) {
    .Menu_logo___tTVA {
        height: 36px
    }
}

.Menu_button__MKVcY {
    position: absolute;
    right: 19px;
    bottom: 0;
    z-index: 10;
    transition: right .3s
}

.Menu_open__5PDsm .Menu_button__MKVcY {
    right: 50rem;
    height: 78px
}

@media(max-width:480px) {
    .Menu_open__5PDsm .Menu_button__MKVcY {
        right: 20rem;
        height: 48px
    }
}

.Menu_items__oX9iN {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 68px;
    gap: 68px;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    transition: opacity .2s;
    opacity: 0;
    font-family: Gilroy, sans-serif;
    font-weight: 800;
    font-size: max(12px, 72rem);
    line-height: 100%;
    letter-spacing: -.05em;
    pointer-events: none
}

.Menu_open__5PDsm .Menu_items__oX9iN {
    opacity: 1;
    transition: opacity .3s .2s
}

.Menu_items__oX9iN a {
    pointer-events: all
}

.Menu_items__oX9iN li {
    opacity: .5;
    transition: opacity .3s
}

.Menu_items__oX9iN li:hover {
    opacity: 1
}

@media(max-width:1054px) {
    .Menu_items__oX9iN {
        font-family: Gilroy, sans-serif;
        font-weight: 800;
        font-size: 40rem;
        line-height: 120%;
        letter-spacing: -.05em
    }
}

@media(max-width:480px) {
    .Menu_items__oX9iN {
        gap: 58px;
        font-family: Gilroy, sans-serif;
        font-weight: 800;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: -.05em
    }
}

.Menu_header__8XtbA {
    position: absolute;
    top: 42rem;
    right: 44rem;
    text-align: right;
    transition: opacity .3s;
    opacity: 0;
    pointer-events: none
}

.Menu_open__5PDsm .Menu_header__8XtbA {
    opacity: 1;
    pointer-events: all
}

@media(max-width:480px) {
    .Menu_header__8XtbA {
        top: 22rem;
        right: 22rem
    }
}

.Menu_socials__ZoB3W {
    display: inline-flex;
    gap: 20px
}

@media(max-width:480px) {
    .Menu_socials__ZoB3W {
        gap: 15px
    }
}

.Menu_footer__Ywfxj {
    position: absolute;
    left: 46rem;
    bottom: 44rem;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, .5fr);
    white-space: pre-wrap;
    transition: opacity .3s;
    opacity: 0;
    pointer-events: none
}

.Menu_open__5PDsm .Menu_footer__Ywfxj {
    opacity: 1;
    pointer-events: all
}

@media(max-width:480px) {
    .Menu_footer__Ywfxj {
        width: auto;
        left: 20rem;
        bottom: 60px;
        white-space: normal
    }
    .Menu_footer__Ywfxj p {
        text-align: right
    }
}

.Menu_background__povGI {
    position: absolute;
    padding: 26rem;
    width: 100%;
    height: 100%;
    color: #b4aea7;
    transition: opacity .15s;
    opacity: 0;
    pointer-events: none
}

.Menu_open__5PDsm .Menu_background__povGI {
    opacity: 1;
    transition: opacity .3s .2s
}

@media(max-width:480px) {
    .Menu_background__povGI {
        padding: 12rem
    }
}

.Menu_wide__dbg3l {
    max-height: 78px
}

@media(max-width:480px) {
    .Menu_wide__dbg3l {
        max-height: 48px
    }
}

.AnimatedBackground_root__Kk5Gq {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 669px;
    height: 66px;
    border-radius: 5px;
    background: #211d1d;
    transform: translate3d(-50%, var(--y), 0);
    z-index: 101
}

@media(max-width:480px) {
    .AnimatedBackground_root__Kk5Gq {
        height: 44px
    }
}

.AnimatedBackground_footer__qPvhF {
    width: 100vw;
    height: 508rem;
    border-radius: 0
}

.Lines_root__to_7u {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: auto
}

.Lines_direction-vertical__bxDel span {
    height: 100%;
    border-right: 1px solid #e5e0df
}

.Lines_direction-vertical__bxDel span:first-child,
.Lines_direction-vertical__bxDel span:last-child {
    border-right: none
}

.Lines_direction-horizontal__as0Gb {
    flex-direction: column
}

.Lines_direction-horizontal__as0Gb span {
    width: 100%;
    border-bottom: 1px solid #e5e0df
}

.Lines_direction-horizontal__as0Gb span:first-child,
.Lines_direction-horizontal__as0Gb span:last-child {
    border-bottom: none
}

.OrientationStub_root__InVg_ {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 350;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 16px;
    background-color: #b4aea7
}

.OrientationStub_container__fyiI_ {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0
}

.OrientationStub_text__RSqyw {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    color: #000;
    transform: translate(-50%, -50%) rotate(-90deg)
}

.OrientationStub_divider__eyi37 {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: #d5cbc3;
    transform: translateY(-50%)
}

.OrientationStub_dividerVertical__rJ4kL {
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    transform: translateX(-50%)
}

.OrientationStub_leftTopVertical__sZcDL {
    left: 0;
    top: 0;
    height: 49%;
    width: 50%
}

.OrientationStub_leftTopHorizontal__OqUdO {
    left: 0;
    top: 0;
    width: 49%;
    height: 50%
}

.OrientationStub_rightTopVertical__cmgpE {
    right: 0;
    top: 0;
    height: 49%;
    width: 50%
}

.OrientationStub_rightTopHorizontal__Lr22N {
    right: 0;
    top: 0;
    width: 49%;
    height: 50%
}

.OrientationStub_leftBotVertical__AWWv1 {
    left: 0;
    bottom: 0;
    height: 49%;
    width: 50%
}

.OrientationStub_leftBotHorizontal__iDOa5 {
    left: 0;
    bottom: 0;
    width: 49%;
    height: 50%
}

.OrientationStub_rightBotVertical__u3ujo {
    right: 0;
    bottom: 0;
    height: 49%;
    width: 50%
}

.OrientationStub_rightBotHorizontal__eNaNH {
    right: 0;
    bottom: 0;
    width: 49%;
    height: 50%
}

.CloseButton_root__lcxct {
    position: relative;
    font-size: 16rem;
    color: #211d1d;
    transition: color .1s ease
}

.CloseButton_root__lcxct span {
    position: relative;
    z-index: 1
}

@media(hover:hover) {
    .CloseButton_root__lcxct:hover {
        color: #615d59
    }
}

@media(hover:none) {
    .CloseButton_root__lcxct:active {
        color: #615d59
    }
}

@media(max-width:480px) {
    .CloseButton_root__lcxct {
        font-size: 12.5px
    }
}

.Popup_root__y7E19 {
    position: relative;
    display: inline-block;
    margin-right: .21em;
    z-index: 201
}

.Popup_windowWrapper__2X0JQ {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 202;
    display: none;
    width: 100svw;
    height: 100svh
}

.Popup_window__5_BPB {
    position: absolute;
    z-index: 12;
    right: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 709rem;
    padding: 10rem;
    transform: translate(50%, -50%);
    font-family: Courier, sans-serif;
    font-weight: 400;
    font-size: max(12px, 16rem);
    line-height: 120%;
    letter-spacing: -.05em;
    font-size: 16rem;
    background: #c1e1e5
}

@media(max-width:1054px) {
    .Popup_window__5_BPB {
        width: 709rem
    }
}

@media(max-width:480px) {
    .Popup_window__5_BPB {
        width: 234.38px;
        padding: 6.5px 5.5px;
        font-size: 12.5px
    }
}

.Popup_index__Ifkfj {
    font-size: 16rem
}

@media(max-width:480px) {
    .Popup_index__Ifkfj {
        font-size: 12.5px
    }
}

.Popup_windowTitle__Pmc_j {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 150rem;
    font-family: Courier, sans-serif;
    font-weight: 400;
    font-size: max(12px, 16rem);
    line-height: 120%;
    letter-spacing: -.05em
}

.Popup_windowTitle__Pmc_j h3 {
    position: absolute;
    width: 100%;
    text-align: center
}

@media(max-width:480px) {
    .Popup_windowTitle__Pmc_j {
        font-size: 12px;
        margin-bottom: 117rem
    }
}

.Popup_mask__aIdet {
    position: absolute;
    top: 0;
    display: inline-block;
    max-width: 27rem;
    height: 27rem;
    transform: translateX(-10rem);
    border-radius: 60rem;
    overflow: hidden;
    background: #fff;
    transition: max-width .3s ease-in-out
}

@media(hover:hover) {
    .Popup_mask__aIdet:hover {
        max-width: 100%
    }
    .Popup_mask__aIdet:hover .Popup_buttonTitle__6wtCb {
        color: rgba(33, 29, 29, .5);
        transition: color .3s ease-in-out
    }
}

@media(hover:none) {
    .Popup_mask__aIdet:active {
        max-width: 100%
    }
    .Popup_mask__aIdet:active .Popup_buttonTitle__6wtCb {
        color: rgba(33, 29, 29, .5);
        transition: color .3s ease-in-out
    }
}

@media(max-width:1054px) {
    .Popup_mask__aIdet {
        top: -15%;
        transform: translateX(-5rem)
    }
}

@media(max-width:1054px)and (hover:hover) {
    .Popup_mask__aIdet:hover {
        width: 27rem
    }
}

@media(max-width:1054px)and (hover:none) {
    .Popup_mask__aIdet:active {
        width: 27rem
    }
}

@media(max-width:480px) {
    .Popup_mask__aIdet {
        top: -50%;
        transform: translateX(-10rem);
        width: 21px;
        height: 21px
    }
}

@media(max-width:480px)and (hover:hover) {
    .Popup_mask__aIdet:hover {
        width: 21px
    }
}

@media(max-width:480px)and (hover:none) {
    .Popup_mask__aIdet:active {
        width: 21px
    }
}

.Popup_popupButton__qrR3s {
    display: flex;
    align-items: center;
    height: 29rem;
    padding-left: 8rem;
    padding-right: 6px;
    font-family: Courier, sans-serif;
    font-weight: 400;
    font-size: 400;
    line-height: 120%;
    letter-spacing: -.05em;
    text-transform: lowercase;
    letter-spacing: -.8rem;
    font-size: max(12px, 16rem);
    text-align: center;
    background: #fff
}

@media(max-width:480px) {
    .Popup_popupButton__qrR3s {
        font-size: 14rem;
        height: 23rem;
        padding-left: 6rem
    }
}

.Popup_buttonText__Bb4DI {
    display: inline-block;
    width: -moz-fit-content;
    width: fit-content
}

.Popup_hiddenText__YwQQh {
    white-space: nowrap;
    margin-left: 12px;
    text-transform: uppercase
}

.Video_video__KXsOJ {
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
    bottom: 27rem;
    left: 100%;
    pointer-events: none;
    object-fit: cover
}

@media(max-width:480px) {
    .Video_video__KXsOJ {
        bottom: 15rem
    }
}

.Video_section__sBoKA {
    position: relative;
    height: 50vh;
    width: 100%
}

.Video_textInWrapper___o1rn {
    position: fixed;
    top: 0;
    z-index: 20;
    height: 100%;
    width: 100%;
    transition: opacity 1s ease;
    mix-blend-mode: normal
}

.Video_textIn__j3JRi {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 850rem;
    transform: translate(50%, -50%);
    font-size: 17rem;
    line-height: 20rem;
    letter-spacing: -.05em;
    color: #fff;
    text-align: center;
    text-transform: uppercase
}

@media(max-width:1054px) {
    .Video_textIn__j3JRi {
        width: 739rem;
        font-size: 15rem
    }
}

@media(max-width:480px) {
    .Video_textIn__j3JRi {
        font-size: 12.5px;
        width: 268rem;
        line-height: 16.88px
    }
}

.Hero_rootWrapper__RdS_m {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #211d1d
}

@media(max-width:480px) {
    .Hero_rootWrapper__RdS_m {
        align-items: center
    }
}

.Hero_titleLeft__bTax0 {
    position: absolute;
    top: 50%;
    left: 77rem;
    transform: translateY(-50%);
    line-height: 16.8rem;
    font-size: 14rem;
    font-weight: 800;
    letter-spacing: -.07rem
}

@media(max-width:1054px) {
    .Hero_titleLeft__bTax0 {
        left: 35rem;
        top: 436rem
    }
}

@media(max-width:480px) {
    .Hero_titleLeft__bTax0 {
        left: 20rem;
        top: 50svh;
        transform: translateY(-45%);
        line-height: 11rem;
        font-size: 13rem
    }
}

.Hero_titleRight__9rQkM {
    position: absolute;
    top: 50%;
    right: 56rem;
    transform: translateY(-50%);
    line-height: 16.8rem;
    font-size: 14rem;
    font-weight: 800;
    letter-spacing: -.07rem
}

@media(max-width:1054px) {
    .Hero_titleRight__9rQkM {
        right: 35rem;
        top: 436rem
    }
}

@media(max-width:480px) {
    .Hero_titleRight__9rQkM {
        right: 16rem;
        top: 50svh;
        transform: translateY(-45%);
        line-height: 11rem;
        font-size: 13rem
    }
}

.Hero_section__vdqRC {
    position: relative;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-gap: 0 21rem;
    padding: 0 27px;
    height: 100vh;
    width: 100%
}

@media(max-width:1054px) {
    .Hero_section__vdqRC {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 0 12rem;
        padding: 0 25px
    }
}

@media(max-width:480px) {
    .Hero_section__vdqRC {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0 12rem;
        padding: 0 20px
    }
}

.Hero_textInWrapper__eR2Zl {
    position: fixed;
    top: 0;
    z-index: 20;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-gap: 0 21rem;
    padding: 0 27px;
    transition: opacity 1s ease;
    mix-blend-mode: normal
}

@media(max-width:1054px) {
    .Hero_textInWrapper__eR2Zl {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 0 12rem;
        padding: 0 25px
    }
}

@media(max-width:480px) {
    .Hero_textInWrapper__eR2Zl {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0 12rem;
        padding: 0 20px
    }
}

.Hero_textIn____vs5 {
    position: absolute;
    top: 50%;
    grid-column-start: 6;
    grid-column-end: 13;
    transform: translateY(-50%);
    font-size: 15rem;
    line-height: 20rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase
}

@media(max-width:1054px) {
    .Hero_textIn____vs5 {
        grid-column-start: 2;
        grid-column-end: 5
    }
}

@media(max-width:480px) {
    .Hero_textIn____vs5 {
        grid-column-start: 1;
        grid-column-end: 5
    }
}

.Hero_root__1_vPD {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 32rem 0 30rem
}

@media(max-width:480px) {
    .Hero_root__1_vPD {
        height: 100vh;
        padding: 20rem 0 25rem
    }
}

.Hero_titleTextWrapper__Evv3D {
    color: #211d1d;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-gap: 0 21rem;
    padding: 0 27px
}

@media(max-width:1054px) {
    .Hero_titleTextWrapper__Evv3D {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 0 12rem;
        padding: 0 25px
    }
}

@media(max-width:480px) {
    .Hero_titleTextWrapper__Evv3D {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0 12rem;
        padding: 0 20px;
        padding: 0 24px
    }
}

.Hero_titleText__xpmpt {
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 16;
    font-family: Gilroy, sans-serif;
    font-weight: 800;
    font-size: max(12px, 72rem);
    line-height: 100%;
    letter-spacing: -.05em;
    font-size: 71.5rem;
    text-transform: uppercase;
    letter-spacing: normal
}

@media(max-width:1054px) {
    .Hero_titleText__xpmpt {
        grid-column-start: 1;
        grid-column-end: 6;
        padding: 0 12rem;
        width: 100%;
        font-size: 50rem;
        letter-spacing: -.05em
    }
}

@media(max-width:480px) {
    .Hero_titleText__xpmpt {
        grid-column-start: 1;
        grid-column-end: 5;
        padding: 0;
        font-size: 24px;
        letter-spacing: -.05em
    }
}

.Hero_navWrapper__451qf {
    position: absolute;
    width: 100vw;
    height: 100dvh;
    pointer-events: none
}

@media(max-width:480px) {
    .Hero_navWrapper__451qf {
        display: none
    }
}

.Hero_nav__EICKs {
    position: absolute;
    bottom: 60rem;
    left: 36rem;
    display: flex;
    gap: 25rem;
    justify-content: space-between;
    text-transform: uppercase
}

@media(max-width:1054px) {
    .Hero_nav__EICKs {
        grid-column-start: 1;
        grid-column-end: 3
    }
}

.Hero_navItem__7hlGn {
    display: flex;
    align-items: center;
    gap: 7.5rem
}

@media(hover:hover) {
    .Hero_navItem__7hlGn:hover .Hero_text__4Co6u:before {
        width: 100%
    }
}

@media(hover:none) {
    .Hero_navItem__7hlGn:active .Hero_text__4Co6u:before {
        width: 100%
    }
}

.Hero_text__4Co6u {
    position: relative;
    display: inline-block;
    height: 100%;
    font-size: 14rem
}

.Hero_text__4Co6u:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 1px;
    border-bottom: 1px solid #211d1d;
    transition: width .5s ease
}

.Hero_squere__cMwPy {
    display: inline-block;
    width: 6.5rem;
    height: 6.5rem;
    transform: translateY(-25%);
    background: #211d1d
}

.Hero_videoWrapper__lepbU {
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
    bottom: 27rem;
    left: 100%;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    overflow: hidden
}

.Hero_word__x8aRs {
    white-space: pre-wrap;
    overflow: hidden
}

.Hero_word__x8aRs,
.Hero_word__x8aRs span {
    display: inline-flex
}

.TeamPopup_root__P0BEc {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transition: opacity .35s ease-in-out;
    z-index: 100
}

.TeamPopup_root__P0BEc.TeamPopup_visible__tcDz5 {
    display: flex;
    opacity: 1;
    pointer-events: all
}

@media(max-width:1054px) {
    .TeamPopup_root__P0BEc {
        padding: 28rem;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0
    }
}

.TeamPopup_popup__nSilR {
    position: relative;
    display: grid;
    align-content: flex-start;
    width: 555rem;
    height: 100dvh;
    max-height: 1027rem;
    background: #c1e1e5;
    overflow: hidden;
    overflow-y: auto
}

@media(max-width:1054px) {
    .TeamPopup_popup__nSilR {
        width: 502rem
    }
}

@media(max-width:480px) {
    .TeamPopup_popup__nSilR {
        width: 304rem;
        max-height: 550rem
    }
}

.TeamPopup_content__wLcjo {
    position: absolute;
    top: 0;
    padding: 26rem;
    color: #211d1d
}

.TeamPopup_closeButton__yfCdD {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 13rem;
    padding-left: 10rem;
    z-index: 10
}

.TeamPopup_closeButton__yfCdD:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 86rem;
    height: 68rem;
    background: #c1e1e5;
    z-index: 1
}

@media(max-width:480px) {
    .TeamPopup_closeButton__yfCdD:before {
        width: 68rem;
        height: 54rem
    }
}

.TeamPopup_image__4WACT {
    height: 662rem;
    mix-blend-mode: luminosity
}

.TeamPopup_image__4WACT * {
    object-position: center
}

@media(max-width:480px) {
    .TeamPopup_image__4WACT {
        height: 336rem
    }
}

.TeamPopup_title__I4Nof {
    margin-top: 26rem;
    font-family: Gilroy, sans-serif;
    font-weight: 800;
    font-size: 21rem;
    line-height: 120%;
    letter-spacing: -.05em;
    letter-spacing: .22em;
    text-transform: uppercase
}

@media(max-width:480px) {
    .TeamPopup_title__I4Nof {
        margin-top: 18px;
        font-family: Gilroy, sans-serif;
        font-weight: 800;
        font-size: 12rem;
        line-height: 120%;
        letter-spacing: -.05em
    }
}

.TeamPopup_subtitle__zDXg6 {
    margin-top: 15rem;
    font-family: GilroyReg, sans-serif;
    font-weight: 400;
    font-size: 15rem;
    line-height: 120%;
    letter-spacing: -.05em;
    letter-spacing: .22em;
    text-transform: uppercase
}

@media(max-width:480px) {
    .TeamPopup_subtitle__zDXg6 {
        margin-top: 10rem;
        font-family: GilroyReg, sans-serif;
        font-weight: 400;
        font-size: 12rem;
        line-height: 120%;
        letter-spacing: -.05em
    }
}

.TeamPopup_bio__exbHl {
    margin-top: 28rem;
    text-align: center;
    font-family: Courier, sans-serif;
    font-weight: 400;
    font-size: max(12px, 16rem);
    line-height: 120%;
    letter-spacing: -.05em
}

@media(max-width:480px) {
    .TeamPopup_bio__exbHl {
        margin-top: 22px;
        font-family: Courier, sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: -.05em
    }
}

.TeamPopup_text__C1Wsv {
    margin-top: 34rem;
    text-transform: uppercase;
    overflow-y: scroll;
    font-family: Courier, sans-serif;
    font-weight: 400;
    font-size: max(12px, 16rem);
    line-height: 120%;
    letter-spacing: -.05em
}

@media(max-width:480px) {
    .TeamPopup_text__C1Wsv {
        margin-top: 32rem;
        font-family: Courier, sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: -.05em
    }
}

.TeamPopup_brackets__NsbwQ {
    display: flex;
    justify-content: space-between;
    margin-top: 152px;
    font-size: 16rem;
    color: #211d1d
}

@media(max-width:480px) {
    .TeamPopup_brackets__NsbwQ {
        font-size: 12rem
    }
}

.Card_root__w_9pv {
    display: flex;
    flex-direction: column
}

.Card_title__SSHDZ {
    padding-bottom: 15rem;
    font-size: 21rem;
    font-family: Gilroy, sans-serif;
    font-weight: 800;
    font-size: 800;
    line-height: 120%;
    letter-spacing: -.05em;
    letter-spacing: -1.05rem
}

@media(max-width:480px) {
    .Card_title__SSHDZ {
        padding-bottom: 11rem;
        font-size: 12px
    }
}

.Card_imgWrapper__okl9J {
    position: relative;
    width: 100%
}

.Card_imageFilter__CQ1uK {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    mix-blend-mode: difference
}

.Card_placeholder__ig82v {
    position: absolute;
    top: 0;
    width: 100%;
    height: 494rem;
    color: #211d1d
}

@media(max-width:480px) {
    .Card_placeholder__ig82v {
        height: 252.47px
    }
}

.Card_image__6158p {
    height: 494rem;
    width: 100%;
    object-fit: cover;
    opacity: 1
}

@media(max-width:480px) {
    .Card_image__6158p {
        height: 252.47px
    }
}

.Card_text__wUly9 {
    display: flex;
    flex-direction: column;
    margin-top: 13rem;
    font-size: 16rem;
    line-height: 19rem;
    letter-spacing: -.05em;
    text-transform: uppercase
}

@media(max-width:480px) {
    .Card_text__wUly9 {
        font-size: 12px;
        letter-spacing: -.05em;
        line-height: 12px
    }
}

.Card_cardTitle__SJCLW {
    font-weight: 800;
    color: #211d1d
}

.Card_cardSubtitle__iEiWs {
    color: rgba(33, 29, 29, .5)
}

.Team_root__N_m_M {
    padding: 157rem 27px 20rem;
    color: #211d1d
}

@media(max-width:1054px) {
    .Team_root__N_m_M {
        padding: 130rem 36px 20rem
    }
}

@media(max-width:480px) {
    .Team_root__N_m_M {
        padding: 130rem 27px 20rem
    }
}

.Team_title__FR27Y {
    position: relative;
    margin-bottom: 15rem;
    font-family: Gilroy, sans-serif;
    font-weight: 800;
    font-size: max(12px, 72rem);
    line-height: 100%;
    letter-spacing: -.05em;
    font-size: 21rem
}

@media(max-width:480px) {
    .Team_title__FR27Y {
        margin-bottom: 12px;
        font-size: 16.41px
    }
}

.Team_teamList__b__MY {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20rem;
    gap: 20rem
}

@media(max-width:1054px) {
    .Team_teamList__b__MY {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 23rem
    }
}

@media(max-width:480px) {
    .Team_teamList__b__MY {
        grid-template-columns: repeat(2, 1fr);
        gap: 16rem
    }
}

.WorkWithUs_root__H2pZW {
    position: relative;
    margin-bottom: 253rem;
    font-size: 16rem;
    color: #211d1d
}

@media(max-width:1054px) {
    .WorkWithUs_root__H2pZW {
        margin: 0 0 50rem
    }
}

@media(max-width:480px) {
    .WorkWithUs_root__H2pZW {
        margin: 50rem 0
    }
}

.WorkWithUs_titleWrapper__K_p1U {
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-gap: 0 21rem;
    padding: 0 27px
}

@media(max-width:1054px) {
    .WorkWithUs_titleWrapper__K_p1U {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 0 12rem;
        padding: 0 25px
    }
}

@media(max-width:480px) {
    .WorkWithUs_titleWrapper__K_p1U {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0 12rem;
        padding: 0 20px;
        padding: 0 24rem
    }
}

.WorkWithUs_title__1vuJl {
    margin-bottom: 24rem;
    grid-column-start: 3;
    grid-column-end: 16;
    font-family: Gilroy, sans-serif;
    font-weight: 800;
    font-size: max(12px, 72rem);
    line-height: 100%;
    letter-spacing: -.05em;
    font-size: 71.5rem;
    text-transform: uppercase;
    text-align: center
}

@media(max-width:1054px) {
    .WorkWithUs_title__1vuJl {
        width: 98%;
        grid-column-start: 1;
        grid-column-end: 6;
        font-size: 50rem;
        text-align: start
    }
}

@media(max-width:480px) {
    .WorkWithUs_title__1vuJl {
        font-size: 35rem
    }
}

.WorkWithUs_info__UOFus {
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-gap: 0 21rem;
    padding: 0 27px
}

@media(max-width:1054px) {
    .WorkWithUs_info__UOFus {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 0 12rem;
        padding: 0 25px
    }
}

@media(max-width:480px) {
    .WorkWithUs_info__UOFus {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0 12rem;
        padding: 0 20px;
        padding: 0 30rem
    }
}

.WorkWithUs_subtitle__fEKIn {
    grid-column-start: 1;
    grid-column-end: 3;
    font-weight: 800;
    font-size: 14rem;
    text-transform: uppercase;
    line-height: 17rem;
    letter-spacing: -.07em;
    white-space: nowrap
}

@media(max-width:1054px) {
    .WorkWithUs_subtitle__fEKIn {
        grid-column-start: 1;
        grid-column-end: 2
    }
}

@media(max-width:480px) {
    .WorkWithUs_subtitle__fEKIn {
        display: none
    }
}

.WorkWithUs_positions__GTG_H {
    grid-column-start: 4;
    grid-column-end: 6;
    font-family: Courier, sans-serif;
    font-weight: 400;
    font-size: max(12px, 14rem);
    line-height: 120%;
    letter-spacing: -.07em;
    font-size: 14rem;
    line-height: 16.8rem;
    text-transform: uppercase
}

@media(max-width:1054px) {
    .WorkWithUs_positions__GTG_H {
        grid-column-start: 5;
        grid-column-end: 6
    }
}

@media(max-width:480px) {
    .WorkWithUs_positions__GTG_H {
        font-size: 12px;
        grid-column-start: 3;
        grid-column-end: 5
    }
}

.WorkWithUs_positions__GTG_H span {
    margin-bottom: 3rem;
    display: inline-block
}

.WorkWithUs_iconContainer__7FLC5 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 57rem;
    border: 1rem solid #211d1d
}

@media(max-width:480px) {
    .WorkWithUs_iconContainer__7FLC5 {
        height: 42rem
    }
}

.WorkWithUs_icon__OXDoy {
    display: inline-block;
    width: 42.5rem;
    height: 42.5rem;
    margin-right: 3.2rem;
    margin-top: 5.2rem
}

@media(max-width:480px) {
    .WorkWithUs_icon__OXDoy {
        width: 33rem;
        height: 33rem;
        margin-right: 4rem;
        margin-top: 4rem
    }
}

.WorkWithUs_text__CBY_3 {
    grid-column-start: 13;
    grid-column-end: 18;
    font-family: Gilroy, sans-serif;
    font-weight: 800;
    font-size: 800;
    line-height: 120%;
    text-transform: uppercase;
    font-size: 21rem;
    letter-spacing: -.05em;
    line-height: 25rem
}

@media(max-width:1054px) {
    .WorkWithUs_text__CBY_3 {
        grid-column-start: 3;
        grid-column-end: 6;
        margin-top: 320rem;
        margin-left: 115rem
    }
}

@media(max-width:480px) {
    .WorkWithUs_text__CBY_3 {
        grid-column-start: 1;
        grid-column-end: 5;
        font-size: 16.41px;
        line-height: 19.69px;
        margin-left: 0;
        margin-top: 196rem
    }
}

.WorkWithUs_text__CBY_3 a {
    text-decoration: underline;
    text-underline-offset: 3rem;
    text-decoration-thickness: 1rem
}

.GalleryPopup_rootWrapper__VcJzX {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #1b1818
}

.GalleryPopup_root__SYGLf {
    position: absolute;
    right: 50%;
    top: 50%;
    height: 100vh;
    width: 100vw;
    transform: translate(50%, -50%);
    overflow: hidden
}

.GalleryPopup_imageWrapper__CKzaW {
    position: relative;
    width: 100%;
    height: 100%
}

.GalleryPopup_imageWrapper__CKzaW img {
    width: 100%;
    height: 100%;
    object-fit: contain
}

.GalleryPopup_popupImg__q4gij {
    position: absolute;
    transition: opacity 1s ease
}

.Approach_root__bFhwd {
    position: relative;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-gap: 0 21rem;
    margin-top: 195rem;
    padding: 0 27px 125rem;
    min-height: 100vh;
    font-size: 16rem;
    line-height: 20rem;
    letter-spacing: -.05em;
    text-transform: uppercase;
    color: #211d1d
}

@media(max-width:1054px) {
    .Approach_root__bFhwd {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 0 12rem;
        padding: 0 25px
    }
}

@media(max-width:480px) {
    .Approach_root__bFhwd {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0 12rem;
        padding: 0 20px
    }
}

@media(max-width:1054px) {
    .Approach_root__bFhwd {
        padding-bottom: 80rem
    }
}

@media(max-width:480px) {
    .Approach_root__bFhwd {
        font-size: 12.5rem;
        line-height: 15rem;
        margin-top: 80rem;
        padding: 0 30rem
    }
}

.Approach_galleryWrapper__kYy9c {
    display: flex;
    flex-direction: column-reverse;
    grid-column-start: 1;
    grid-column-end: 5
}

@media(max-width:1054px) {
    .Approach_galleryWrapper__kYy9c {
        grid-column-start: 1;
        grid-column-end: 3;
        position: -webkit-sticky;
        position: sticky;
        bottom: 20rem;
        margin-top: 50rem;
        margin-right: 85rem;
        grid-row-start: 3
    }
}

@media(max-width:480px) {
    .Approach_galleryWrapper__kYy9c {
        grid-column-start: 1;
        grid-column-end: 4;
        position: relative;
        margin-top: 160rem;
        margin-right: 0;
        grid-row-start: 4
    }
}

.Approach_galleryOpen__PbMqo {
    z-index: 251
}

.Approach_gallery__wZFBH {
    position: -webkit-sticky;
    position: sticky;
    bottom: 28rem
}

@media(max-width:1054px) {
    .Approach_gallery__wZFBH {
        bottom: 48rem
    }
}

@media(max-width:480px) {
    .Approach_gallery__wZFBH {
        bottom: 18rem
    }
}

.Approach_textCloseGallery____XDJ {
    margin-bottom: 8rem;
    color: #f0f0f0;
    text-transform: uppercase;
    font-family: Courier, sans-serif;
    font-weight: 400;
    font-size: max(12px, 16rem);
    line-height: 120%;
    letter-spacing: -.05em
}

@media(max-width:480px) {
    .Approach_textCloseGallery____XDJ {
        margin-bottom: 5rem;
        font-family: Courier, sans-serif;
        font-weight: 400;
        font-size: max(12px, 12rem);
        line-height: 150%;
        letter-spacing: -.05em
    }
}

.Approach_galleryButton__bRdnj {
    position: relative;
    height: 438rem;
    width: 100%;
    object-fit: cover
}

.Approach_galleryButton__bRdnj>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .3s ease-in-out
}

.Approach_galleryButton__bRdnj img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

@media(max-width:480px) {
    .Approach_galleryButton__bRdnj {
        height: 300px
    }
}

.Approach_imageCloseGallery__ljpuo {
    position: relative;
    width: 100%;
    height: 100%
}

.Approach_imageCloseGallery__ljpuo img {
    width: 100%;
    height: 100%;
    object-fit: fill !important
}

.Approach_placeholder__rY_gW {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    mix-blend-mode: difference
}

.Approach_galleryTitle__ZX2Kd {
    position: absolute;
    top: -30rem;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8rem 11rem 8rem 0;
    font-weight: 800
}

@media(max-width:1054px) {
    .Approach_galleryTitle__ZX2Kd {
        top: -35rem;
        padding: 8rem 11rem 8rem 0
    }
}

@media(max-width:480px) {
    .Approach_galleryTitle__ZX2Kd {
        top: -25rem;
        padding: 8rem 11rem 8rem 0;
        font-size: 12px
    }
}

.Approach_galleryTitle__ZX2Kd:before {
    height: 32rem;
    width: 1rem
}

.Approach_galleryTitle__ZX2Kd:after,
.Approach_galleryTitle__ZX2Kd:before {
    content: "";
    position: absolute;
    top: -10rem;
    right: -10rem;
    display: inline-block;
    background: #211d1d
}

.Approach_galleryTitle__ZX2Kd:after {
    height: 1rem;
    width: 32rem
}

.Approach_galleryTitleItem__XrHEM:last-child {
    font-style: italic
}

.Approach_title__SRS5l {
    display: flex;
    flex-direction: column;
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 1
}

.Approach_title__SRS5l span:not(:last-child) {
    font-weight: 800
}

@media(max-width:1054px) {
    .Approach_title__SRS5l {
        grid-column-start: 1;
        grid-column-end: 3
    }
}

@media(max-width:480px) {
    .Approach_title__SRS5l {
        grid-column-start: 1;
        grid-column-end: 3;
        margin-bottom: 80rem
    }
}

.Approach_textWrapper__aE5bk {
    display: flex;
    gap: 58rem
}

@media(max-width:1054px) {
    .Approach_textWrapper__aE5bk {
        width: 100%;
        margin-left: 170rem;
        gap: 90rem
    }
}

@media(max-width:480px) {
    .Approach_textWrapper__aE5bk {
        flex-direction: column
    }
}

.Approach_itemTitle__U0lZT {
    font-weight: 800;
    margin-bottom: 20rem
}

.Approach_col__88Gp4 {
    opacity: 0
}

.Approach_colLeft__iPH6D {
    grid-column-start: 10;
    grid-column-end: 14
}

.Approach_colLeft__iPH6D .Approach_itemTitle__U0lZT {
    margin-bottom: 0
}

@media(max-width:1054px) {
    .Approach_colLeft__iPH6D {
        grid-column-start: 3;
        grid-column-end: 6;
        margin-bottom: 40rem;
        margin-left: 85rem
    }
}

@media(max-width:480px) {
    .Approach_colLeft__iPH6D {
        grid-column-start: 1;
        grid-column-end: 5;
        margin-left: 0;
        margin-bottom: 40rem
    }
}

.Approach_colRight__gvyFe {
    grid-column-start: 14;
    grid-column-end: 18
}

@media(max-width:1054px) {
    .Approach_colRight__gvyFe {
        grid-column-start: 3;
        grid-column-end: 6;
        margin-left: 85rem
    }
}

@media(max-width:480px) {
    .Approach_colRight__gvyFe {
        margin-left: 0;
        grid-column-start: 1;
        grid-column-end: 5
    }
}

.Approach_item__EuqNy {
    white-space: break-spaces
}

.Approach_item__EuqNy:not(:last-child) {
    margin-bottom: 40rem
}

.Approach_closeButton__H08QX {
    font-size: 16rem
}

.Awards_root__ReWmz {
    position: relative;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-gap: 0 21rem;
    padding: 0 27px 238rem;
    font-size: 16rem;
    line-height: 18rem;
    color: #211d1d
}

@media(max-width:1054px) {
    .Awards_root__ReWmz {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 0 12rem;
        padding: 0 25px
    }
}

@media(max-width:480px) {
    .Awards_root__ReWmz {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0 12rem;
        padding: 0 20px
    }
}

@media(max-width:1054px) {
    .Awards_root__ReWmz {
        padding-bottom: 247rem
    }
}

@media(max-width:480px) {
    .Awards_root__ReWmz {
        margin: 74rem 0 0;
        padding: 0 30rem 200rem
    }
}

.Awards_titleWrapper__Iadnm {
    display: flex;
    gap: 33rem
}

@media(max-width:1054px) {
    .Awards_titleWrapper__Iadnm {
        margin-bottom: 40rem;
        float: left
    }
    .Awards_titleWrapper__Iadnm .Awards_dot__bb2u6 {
        display: none
    }
}

@media(max-width:480px) {
    .Awards_titleWrapper__Iadnm {
        float: right
    }
}

.Awards_dot__bb2u6 {
    grid-column-start: 7;
    grid-column-end: 8
}

.Awards_title__Srkos {
    font-family: Gilroy, sans-serif;
    font-weight: 800;
    font-size: max(12px, 72rem);
    line-height: 100%;
    letter-spacing: -.05em;
    font-size: 21rem
}

@media(max-width:480px) {
    .Awards_title__Srkos {
        font-size: 16rem
    }
}

.Awards_awardsItem__ODFWT {
    display: flex;
    gap: 135rem
}

@media(max-width:1054px) {
    .Awards_awardsItem__ODFWT {
        gap: 45rem
    }
    .Awards_textBlock__Ji2xK {
        font-family: Courier, sans-serif;
        font-weight: 400;
        font-size: max(12px, 12rem);
        line-height: 150%;
        letter-spacing: -.05em
    }
}

.Awards_yearWrapper__v_cRn {
    display: flex;
    gap: 60rem
}

@media(max-width:1054px) {
    .Awards_yearWrapper__v_cRn {
        gap: 15rem
    }
}

.Awards_year__QbGed {
    line-height: 22rem;
    letter-spacing: -.05em
}

@media(max-width:480px) {
    .Awards_year__QbGed {
        font-size: 12px;
        line-height: 1
    }
}

.Awards_dot__bb2u6 {
    font-size: 20rem;
    letter-spacing: .5em
}

@media(max-width:480px) {
    .Awards_dot__bb2u6 {
        display: flex;
        align-items: flex-start;
        line-height: 1;
        font-size: 12px
    }
}

.Awards_left__tGTSb {
    grid-column-start: 5;
    grid-column-end: 7
}

@media(max-width:1054px) {
    .Awards_left__tGTSb {
        grid-column-start: 1;
        grid-column-end: 2
    }
}

@media(max-width:480px) {
    .Awards_left__tGTSb {
        grid-column-start: 4;
        grid-column-end: 5
    }
}

.Awards_right__B_qT_ {
    display: flex;
    flex-direction: column;
    gap: 30rem;
    margin-left: 80rem;
    grid-column-start: 7;
    grid-column-end: 14
}

@media(max-width:1054px) {
    .Awards_right__B_qT_ {
        grid-column-start: 3;
        grid-column-end: 6;
        margin-left: 0
    }
}

@media(max-width:480px) {
    .Awards_right__B_qT_ {
        grid-column-start: 1;
        grid-column-end: 5
    }
}

.Awards_textTitle__wphDE {
    line-height: 18rem;
    letter-spacing: -.05em;
    text-transform: uppercase;
    font-weight: 800
}

@media(max-width:480px) {
    .Awards_textTitle__wphDE {
        line-height: 1
    }
}

.Awards_textSubTitle__WhcZE {
    text-transform: uppercase;
    letter-spacing: -.05em
}

.Awards_textSubTitle__WhcZE:nth-child(2) {
    font-style: italic
}

.Awards_textComment___7dP7 {
    margin-top: 10rem;
    font-family: Courier, sans-serif;
    font-weight: 400;
    font-size: max(12px, 12rem);
    line-height: 150%;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: -.05em
}

@media(max-width:480px) {
    .Awards_textComment___7dP7 {
        font-size: 12px;
        line-height: 11rem;
        margin-top: 1em
    }
}

.About_root__2mkn3 {
    position: relative;
    width: 100%;
    height: 100%;
    background: #b4aea7
}